@import "../../utils/styles/mixins";

.listing-feed {
  display: flex;
  flex-direction: column;
  padding: 20px;
  @include mq-tablet {
    display: grid;
    max-width: fit-content;
    margin: auto;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
