@import "../../utils/styles/variables";
@import "../../utils/styles/mixins";
.listing-tag {
  text-align: center;
  line-height: 18px;
  font-weight: 400;
  width: fit-content;
  @include tablet {
    color: $white;
    background-color: $np-grey;
    border: 1px solid $white;
    border-radius: 8px;
    padding: 1px 10px 1px 10px;
  }
}
